@import "../../index.scss";

.shopbybrand {
  background-color: white;
  height: auto;
  text-align: center;
  padding: 50px 0;

  .allcards {
    justify-content: center;
  }
  .card-body {
    padding: 0;
  }
  .title h1 {
    margin: 0;
    padding: 20px 0;
    font-family: Gilroy-Bold;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }
  .brand {
    margin: 0;
    padding: 20px 0;
    display: contents;

    img {
      // margin: 35% 0;
      width: 150px;
    }

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-clip: border-box;
      border: none;
      background-color: none;
      padding: 10px;
      margin-bottom: 20px;
    }
  }
  .viewmore {
    padding: 20px 0;

    button {
      width: 262px;
      height: 62px;
      border-radius: 6px;
      padding: 18px 20px 20px 20px;
      background-color: $flash-black;
      font-size: 18px;
      font-family: Gilroy-Regular;
      font-weight: 700;
      border: none;
    }
    .btn:hover {
      padding-right: 24px;
      padding-left: 8px;
      background-color: white;
      color: black;
      border: solid 1px black;
    }
  }
}

@media only screen and (max-width: 480px) {
  .shopbybrand {
    padding: 0;
    .allcards {
      justify-content: start;
    }
    .title h1 {
      text-align: start;
      font-size: 24px;
      padding-bottom: 0;
    }
    .brand .card {
      margin-bottom: 0;
      padding: 5px;
    }
    .brand img {
      width: 115px;
    }
    .viewmore button {
      width: 360px;
      margin-bottom: 15px;
    }
  }
}
