// @import "../../index.scss";
@import "../../assets/partials/colours";

.landing {
  // background-color: $flash-black;
  position: relative;
  z-index: 1;
  height: auto;
  text-align: center;
  padding: 50px 0;
  border-radius: 0 0 36px 36px;

  #heading {
    font-size: 65px;
    color: $flash-white;
    font-family: Gilroy-Bold;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 25px;
    span {
      color: $flash-green;
    }
  }

  @media only screen and (max-width: 480px) {
    
    #heading {
      font-size: 35px !important;
      // margin-top: 20px;
      margin-bottom: 20px;
    }
    .landing {
      padding: 65px 0px 10px;

      .searchbar {
        position: absolute;
        padding-top: 380px;
        width: 98%;
        .col {
          padding: 0;
        }
      }
    }
    #cards {
      display: none;
    }
  }
}

.maincont {
  // display: none;
  background: black; 
  border-radius: 0 0 30px 30px;
  @media only screen and (max-width: 480px) {
  height: 685px;
  }
}

