@import "../../index.scss";

.whatshot {
  background-color: $flash-purple-2;
  height: auto;
  text-align: center;
  padding: 74px 0;

  .title h1 {
    margin: 0;
    padding: 20px 0;
    font-family: Gilroy-Bold;
    font-weight: 700;
    font-size: 45px;
    text-align: left;
    color: $flash-white;
  }

  .hotcards {
    .title {
      text-align: left;
      font-family: Gilroy-Bold;
      font-weight: 700;
      font-size: 36px;
      width: 160px;
      line-height: 39.6px;
      color: $flash-white;
    }
    .btn {
      width: 225px;
      height: 48px;
      border-radius: 6px;
      padding: 13px 20px 20px 20px;
      color: $flash-white;
      font-size: 16px;
      font-family: Gilroy-Bold;
      font-weight: 700;
      border: none;
      text-align: center;
      float: left;
      margin-top: 25px;
      transition: 0.5s;

    }

    .btn:hover {
      padding-right: 10;
      padding-left: 8px;
      background-color: white;
      color: black;
    }

    .yellow-btn {
      background-color: #ffd400;
      color: $flash-black;
    }
    .orange-btn {
      background-color: #eb810c;
    }
    .pink-btn {
      background-color: #f6267d;
    }
    .purple-btn {
      background-color: #9231fc;
    }
  }
  .card {
    height: 326px;
    border-radius: 20px;
    margin-bottom: 25px;
    border: none;
  }
  .shopall {
    padding: 20px 0;

    .btn {
      width: 262px;
      height: 62px;
      border-radius: 6px;
      padding: 18px 20px 20px 20px;
      background-color: $flash-green;
      color: $flash-black;
      font-size: 18px;
      font-family: Gilroy-Bold;
      font-weight: 700;
      border: none;
      transition: 0.5s;
    }
    .btn:hover {
      padding-right: 24px;
      padding-left: 8px;
      background-color: white;
    }
  }
}

@media only screen and (max-width: 480px) {
  .whatshot {
    padding: 0 15px;
    .card {
      height: 269px !important;
    }
    .shopall {
      display: none;
    }
    .title h1 {
      font-size: 28px;
      padding: 0 10px;
    }
    .hotcards .title {
      font-size: 24px;
      line-height: 27.5px;
    }
    .hotcards .purple-btn {
      width: 162px;
      height: 48px;
      font-size: 16px;
    }
    .hotcards .pink-btn {
      width: 187px;
      height: 48px;
      font-size: 16px;
    }
    .hotcards .orange-btn {
      width: 164px;
      height: 48px;
      font-size: 16px;
      color: black;
      background-color: #ffd400;
    }
  }
}
