// @import "../../index.scss";
@import "../../assets/partials/colours";

.landing {
  #heading {
    font-size: 65px;
    color: $flash-white;
    font-family: Gilroy-Bold;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
    span {
      color: $flash-green;
    }
  }
#sliderColum {
  position: relative;
  z-index: -2;
}
  #cards {
    color: $flash-white;
    margin: 0 25px 50px;
    a {
      width: 100%;
      text-decoration: none;
      color: black;
      display: block;
      transition: 0.25s ease;

      &:hover {
        transform: translate(-0px, -20px);
      }
    }
    .card {
      flex-direction: row;
      align-items: center;
      text-align: left;
      border-radius: 12px;
      img {
        margin: 6px;
        width: 40%;
        border-radius: 6px;
      }
      .card-body {
        padding: 1rem 0rem;
      }
    }
    .card-title {
      font-weight: 700;
      font-family: Gilroy-Bold;
      font-size: 18px;
      color: black;
    }
    .card-text {
      margin: 0;
      font-family: Gilroy-Medium;
      font-size: 14px;
      color: $grey5;
      padding-bottom: 5px;
    }
  }
}

@media only screen and (max-width: 480px) {

  #heading {
    font-size: 35px !important;
  }
  .landing {
    .mainLanding {
      padding: 15px !important;
    }
  }
}
