// Primary
$flash-green: #b2fa00;
$go-green: #8bd41f;
$top-up-green: #00c193;
$link-blue: #0097f7;
$flash-white: #ffffff;
$background-primary: #ffffff;

// Accents
$flash-blue: #0052b0;
$flash-teal: #5756e9;
$flash-purple: #9231fc;
$flash-pink: #f6267d;
$flash-yellow: #ffd400;
$dark-green: #0c8b43;

// Greys
$grey1: #f2f3f5;
$grey2: #edeef0;
$grey3: #e4e5e9;
$grey4: #c1c3c8;
$grey5: #a2a3a8;
$grey6: #55585e;
$grey7: #C6C7CB;

// Alerts
$flash-red: #f72b4e;
$flash-orange: #ff8900;
$link-blue: #0097f7;

// Typography
$flash-black: #000000;
$flash-body: #27282e;
$flash-caption: #7d7e82;

// Transparent 
$flash-transparent-black: #000000bf;
$flash-transparent-white: #ffffffc7;

// Testing colours
$flash-test-1: #036850;
$flash-transparent-test: #a5a4a433;
$flash-header: #003C63;
$flash-card-blue: #0079C6;
$flash-dark-green: #00271D;
$flash-purple-2: #1D0A32;
